/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

html {
	scroll-behavior: smooth;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
}

nav {
	justify-content: space-around;
	align-items: center;
	height: 5rem;
}

#desktop-nav {
    background-color: #191A1C;
    color: white;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-links-holder {
    display: flex;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* FOOTER */

footer, .social-links {
    display: flex;
}

footer {
    justify-content: space-around;
	align-items: center;
	height: 3.125rem;
}

#desktop-footer {
    background-color: #191A1C;
    color: white;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-text {
    flex-shrink: 0;
}

.social-links-holder {
    display: flex;
}

.social-links-holder {
    display: flex;
    gap: 1.5rem;
}